<app-device-header></app-device-header>
<form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
    <div class="form-update">
        <label for="name" class="form-update-label required" id="name">Tên thiết bị:</label>
        <input id="name" [(ngModel)]="newDevice.name" name="name" class="form-add-left input-name" required />
    </div>
    <div class="form-update">
        <label for="category" class="form-update-label required">Loại thiết bị:</label>
        <select [(ngModel)]="newDevice.category.id" name="category" class="form-add-left" required>
            <option class="category-name" *ngFor="let category of categories" [ngValue]="category.id">{{category.name}}
            </option>
        </select>
    </div>

    <div class="form-update">
        <label for="status" class="form-update-label required">Tình trạng thiết bị:</label>
        <select [(ngModel)]="newDevice.status.id" name="status" class="form-add-left" required>
            <option class="category-name" *ngFor="let status of statuses" [ngValue]="status.id">{{status.description}}
            </option>
        </select>
    </div>

    <div class="form-update">
        <label for="statusDetail" class="form-update-label">Chi tiết tình trạng thiết bị:</label>
        <input id="statusDetail" [(ngModel)]="newDevice.statusDetail" class="form-add-left input-name"
            name="statusDetail" />
    </div>

    <div class="form-update">
        <label for="description" class="form-update-label">Mô tả:</label>
        <input id="description" [(ngModel)]="newDevice.description" class="form-add-left input-name"
            name="description" />
    </div>

    <div class="form-update">
        <label for="energy" class="form-update-label">Mức năng lượng (W):</label>
        <input id="energy" [(ngModel)]="newDevice.energy" class="form-add-left input-name" name="energy"
            type="number" />
    </div>


    <div class="button">
        <button class="update-button" type="submit">Cập nhật</button>
        <button class="update-button" type="button" (click)="onCancel()">Hủy bỏ</button>
    </div>

</form>