.form-update{
    margin-left:200px;
    margin-top: 20px;
    display: flex;
    margin-bottom: 50px;
}

.form-update-label{
    width: 400px;
    font-size: 24px;
  
}
.form-select{width: 100px;}


.category-name{
    font-size: 16px;
}


.form-control
{
  width: 600px;
}
.form-control-length{
    width: 100px;
  }
.update-button{
    margin-top: 40px;
    margin-left: 400px;
 
}
.input-name{
    font-size: 16px;
    padding-left: 12px;
}

.required::after {
    content: ' *'; color: red; font-weight: bold;
}
.button{
    margin-left: 600px;
}
.btn-left{
    margin-left: 200px;
}