<app-status-header></app-status-header>
<form #myForm="ngForm" (ngSubmit)="addStatus(myForm)">
  <div class="form-add">
    <!-- <label for="name" class="form-add-label required" id="name">Tình trạng thiết bị:</label> -->
    <label for="time" class="form-add-label" id="time">Tình trạng thiết bị:</label>

    <input id="name" [(ngModel)]="newStatus.description" name="name" class="form-control form-status" required />
  </div>
  <button type="submit" class="btn btn-primary btn-status">Thêm tình trạng thiết bị</button>


</form>




