<app-device-header></app-device-header>
<div class="container">
  <div *ngFor="let device of devices" class="row">
    <div class="card">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col" class="col-length-3">Tên</th>
            <th scope="col" class="col-length-4">Loại</th>
            <!-- <th scope="col">Trạng thái</th> -->
            <!-- <th scope="col">Chi tiết trạng thái</th> -->
            <th scope="col" class="col-length-1">Mô tả</th>
            <th scope="col">Mức tiêu thụ (W)</th>
            <th scope="col">Giá trị hiện tại</th>
            <!-- <th scope="col">Giá trị khác</th> --> 
            <th scope="col" class="col-length-2">Tình trạng hoạt động</th>
            <th scope="col">Hành động</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="col-length-3">{{device.name}}</th>
            <th class="col-length-4">{{device.category.name}}</th>
            <!-- <th>{{device.status.description}}</th> -->
            <!-- <th>{{device.statusDetail}}</th> -->
            <th class="col-length-1">{{device.description}}</th>
            <th>{{device.energy}}</th>
            <!-- <th>{{device.DeviceValue[0].value}}</th>
            <th>{{device.DeviceValue[1].value}}</th> -->
            <th></th>
            <th class="col-length-2">{{device.isActive}}</th>

            <!-- <div *ngIf="device.isActive == true"><button class="btn btn-secondary" (click)="">Đang hoạt động</button></div>
            <div *ngIf="device.isActive == false"> -->
              <!-- <button class="btn btn-primary" data-bs-toggle="modal" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="">Đang tắt</button> -->
              <!-- <div class="modal-dialog modal-lg">...</div> -->
            <!-- </div> -->
            
            <th>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button class="btn btn-warning" (click)="goToUpdate(device.id)">Cập nhật</button>
                <button class="btn btn-danger" (click)="deleteDevice(device.id)">Xóa</button>
                <!-- <button class="btn btn-primary" data-bs-toggle="modal" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="openModal(device)">Thay đổi giá trị</button> -->
                <button (click)="openModal(device)">Bật/Tắt</button>

                <!-- Bootstrap Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Form</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <form>
                          <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Giá trị:</label>
                            <select [(ngModel)]="payload.value" name="action">
                              <option *ngFor="let value of values" [ngValue]="value.pos">{{value.name}}
                              </option>
                            </select>
                          </div>
                          <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Bật/Tắt:</label>
                            <select [(ngModel)]="payload.action" name="action">
                              <option *ngFor="let action of actions" [ngValue]="action.value">{{action.name}}
                              </option>
                            </select>

                          </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" (click)="submitForm()">Submit</button>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </th>
          </tr>


        </tbody>
      </table>

    </div>
  </div>
</div>

<!-- Modal -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          Chọn một giá trị:
        </div>
        
        <select [(ngModel)]="deviceValueConvert" name="value" class="form-select">
          <option *ngFor="let value of deviceValueConvert" >{{value}}</option>
        </select>


    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Đóng</button>
        <button type="button" class="btn btn-primary">Thay đổi</button>
      </div>
    </div>
  </div>
</div> -->
