.device-container{
    width: 60%;
    height: 150px;
    background-color: aliceblue;
    margin: 40px auto;
    border-radius: 5px;
}
.device-view-title-line{
    display: flex   ;
}
.device-view-title{
    padding-top: 20px;

    justify-content: space-around;
    font-size: 24px;
    margin-left: 80px;
   
}
.device-view-title-left{
    margin-left: 100px;
}
.device-view-data-line{
    display: flex;
    margin-left: 80px;
    padding-top: 20px;
}
.device-view-data{

  
    justify-content: space-around;

}
.deivce-view-data-left{
   margin-left: 100px;
}
.view-name{

    width: 200px;
}
.view-type{

    width: 60px;
}
.view-status{
   
    width: 200px;
}

.device-view-button{
    margin-left: 100px;
    height: 20px;
    margin-top: 20px;}

    .device-view-button-left{
        margin-left: 20px;
    }