.header {
    background-color: #fff;
    color: white;
    padding: 0;
    margin: 0;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-brand a {
    color: #6984ff;
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  .navbar-menu {
    list-style: none;
    display: flex;
    gap: 15px;
  }
  
  .navbar-menu li a {
    color: #000;
    text-decoration: none;
  }
  
  .navbar-actions button {
    background-color: #fff;
    color: #007bff;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .navbar-actions button:hover {
    background-color: #007bff;
    color: #fff;
  }
  