<app-header></app-header>
<app-device-header></app-device-header>
<div class="cate-container">
    <div class="category-list">
        <h3 class="label-name">Category List</h3>
        <div *ngFor="let category of categories" class="category-item">
            <h3 class="list-name">{{category.name}}</h3>
            <button class="button-delete">Delete</button>
        </div>
    </div>
    <div class="separator"></div>
    <div class="category-add">
        <h3 class="label-name">Category Add</h3>
        <form (ngSubmit)="addCategory()" class="form-add">
            <div class="form-add">
                <label for="name" class="form-add-label">Tên loại thiết bị:</label>
                <input id="name" [(ngModel)]="newCategory.name" name="name" class="form-add-left input-name" required />
                <button type="submit" class="form-add-sub">Thêm</button>
            </div>

        </form>
    </div>
</div>
<div class="status-container">
    <div class="status-list">
        <h3 class="label-name">Status List</h3>
        <div *ngFor="let status of statuses" class="category-item">
            <h3 class="list-name">{{status.description}}</h3>
            <button class="button-delete">Delete</button>
        </div>
    </div>
    <div class="separator"></div>
    <div class="status-add">
        <h3 class="label-name">Status Add</h3>
        <form (ngSubmit)="addStatus()" class="form-add">
            <div class="form-add">
                <label for="description" class="form-add-label">Mô tả:</label>
                <input id="description" [(ngModel)]="newStatus.description" name="description"
                    class="form-add-left input-name" required />
                <button type="submit" class="form-add-sub">Thêm</button>
            </div>

        </form>
    </div>
</div>