<app-header></app-header>
<app-device-header></app-device-header>
<div class="cate-container">
    <div class="category-list">
        <h3>Category List</h3>
        <div *ngFor="let category of categories" class="category-item">
            <h3  class="status-des">{{category.name}}</h3>
            <button class="button-delete">Delete</button>
        </div>
    </div>
    <div class="separator"></div>
    <div class="category-add">
        <h3>Category Add</h3>
        <form (ngSubmit)="addCategory()">
            <div class="form-add">
                <label for="name" class="form-add-label">Tên loại thiết bị:</label>
                <input id="name" [(ngModel)]="newCategory.name" name="name" class="form-add-left input-name" required />
            </div>
            <button type="submit" class="form-add-sub">Thêm</button>
        </form>
    </div>
</div>
<div class="status-container">
    <div class="status-list">
        <h3>Status List</h3>
        <div *ngFor="let status of statuses" class="category-item">
            <h3 class="status-des">{{status.description}}</h3>
            <button class="button-delete">Delete</button>
        </div>
    </div>
    <div class="separator"></div>
    <div class="status-add">
        <h3>Status Add</h3>
        <form (ngSubmit)="addStatus()">
            <div class="form-add">
                <label for="description" class="form-add-label">Mô tả:</label>
                <input id="description" [(ngModel)]="newStatus.description" name="description" class="form-add-left input-name" required />
            </div>
            <button type="submit" class="form-add-sub">Thêm</button>
        </form>
    </div>
</div>