.form-add{
    margin-left:200px;
    margin-top: 20px;
    display: flex;
}
.form-add-label{
    width: 400px;
    font-size: 24px;

}



.category-name{
    font-size: 16px;
}
.input-name{
    font-size: 16px;
    padding-left: 12px;
}


.required::after {
    content: ' *'; color: red; font-weight: bold;
}
.form-control
{
  width: 600px;
}
.form-add-sub {
  margin-left: 600px;
  margin-top: 20px;

}
.form-select{width: 100px;}
.form-select-length{width: 150px;}
.form-control-length{
  width: 100px;
}
