.container{
  background-color: white;
  max-width: 720px;
--bs-gutter-x: 1.5rem;
--bs-gutter-y: 0;
width: 100%;
padding-right: calc(var(--bs-gutter-x)* .5);
padding-left: calc(var(--bs-gutter-x)* .5);
margin: auto;
}

.p-4{
  background-color: #F8F9Fa;
}
