.form-update{
    margin-left:200px;
    margin-top: 20px;
    display: flex;
}

.form-update-label{
    width: 300px;
    font-size: 24px;
  
}
.form-control-datetime{
    width: 300px;
  }
.update-button{
    margin-top: 40px;
    margin-left: 400px;
 
}
.input-name{
    font-size: 16px;
    padding-left: 12px;
}

.required::after {
    content: ' *'; color: red; font-weight: bold;
}
.form-select
{
  width: 100px;
}
.form-select-device{
  width: 200px;
}
.button{
    margin-top: 20px;
    margin-left: 500px;
}
.btn-left{
    margin-left: 200px;
}