<app-status-header></app-status-header>
<!-- <div class="container">
  <div *ngFor="let status of categories" class="row">
    <div class="status-container">
      <div class="status-view-title-line">
        <label class="status-view-title view-name">Tình trạng</label>
      </div>
      <div class="status-view-data-line">
        <h3 class="form-control">{{status.description}}</h3>
        <button class="btn btn-warning" (click)="goToUpdate(status.id)">Cập nhật</button>
        <button class="btn btn-danger" (click)="deleteStatus(status.id)">Xóa</button>
      </div>

    </div> -->
<div class="container ">
  <div *ngFor="let status of statuses" class="row">

    <div class="card ">
      <div class="card-header">Tình trạng</div>
      <div class="card-body">
        <div class="card-flex">
          <h5 class="card-title">{{status.description}}</h5>
          <div class="btn-group" role="group" aria-label="Basic example">
            <button class="btn btn-warning" (click)="goToUpdate(status.id)">Cập nhật</button>
            <button class="btn btn-danger" (click)="deleteStatus(status.id)">Xóa</button>
          </div>
        </div>
      </div>
    </div>
  </div>
