.form-update{
    margin-left:200px;
    margin-top: 20px;
    display: flex;
}

.form-update-label{
    width: 200px;
    font-size: 24px;
  
}
.update-button{
    margin-top: 40px;
    margin-left: 400px;
 
}
.input-name{
    font-size: 16px;
    padding-left: 12px;
}

.required::after {
    content: ' *'; color: red; font-weight: bold;
}
