<app-category-header></app-category-header>
<form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
    <div class="form-update">
        <label for="name" class="form-update-label" id="name">Tên loaị thiết bị:</label>
        <input id="name" [(ngModel)]="newCategory.name" name="name" class="form-control" required />
    </div>

    <div class="form-add">
        <label for="time" class="form-add-label" id="time">feed:</label>
        <input id="name" [(ngModel)]="newCategory.feedKey" name="feedKey" class="form-control form-status" required />
    </div>

    <div class="button">
        <button class="btn btn-primary" type="submit">Cập nhật</button>
        <button class="btn btn-secondary btn-left" type="button" (click)="onCancel()">Hủy bỏ</button>
    </div>

</form>