.form-add{
    margin-left:200px;
    margin-top: 20px;
    display: flex;
}
.form-add-label{
    width: 300px;
    font-size: 24px;

}



.device-name{
    font-size: 16px;
}
.input-name{
    font-size: 16px;
    padding-left: 12px;
}


.required::after {
    content: ' *'; color: red; font-weight: bold;
}
.form-control-datetime{
  width: 300px;
}
.form-select
{
  width: 100px;
}
.form-control-value{
  width: 150px;
}
.form-select-device{
  width: 200px;
}
.form-add-sub {
  margin-left: 500px;
  margin-top: 20px;

}
