<app-header></app-header>
<!-- <div class="history-table"> -->
<div class="container mt-3">
  <table class="table table-striped">
    <thead>
      <tr>
              <th scope="col">Tên thiết bị</th>
              <th scope="col">Thời gian</th>
              <th scope="col">Thao tác</th>
              <th scope="col">Giá trị</th>
              <th scope="col">Xóa</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of historyRecords">
        <td >{{ record.device.name }}</td>
        <td >{{ record.time | date: 'dd/MM/yyyy HH:mm' }}</td>
        <td>{{ isOnOff[record.device.isActive.toString()] }}</td>
        <td>{{ record.value }}</td>
        <td ><button class="btn btn-danger" (click)="deleteRecord(record)">Xóa</button></td>
      </tr>
    </tbody>
  </table>
</div>
<!-- <app-footer></app-footer> -->
