
.history-table {
    margin-top: 20px;
    width: 40%;
    align-items: center;
    margin-left: 600px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;

  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    font-weight: bold;
  }
  
  .delete {
    color: red;
    cursor: pointer;
    padding-left:20px;
  }
  .delete-button{
    width: 20px;
    height: 20px;
  }
  .td-1{
    width: 40%;
    
  }
  .td-2{
    width: 40%;
  }
    .td-3{
        width: 20%;
    }